/*
 * Body 
 */


.bg-color {
  /*background-image: linear-gradient(to top, #fff1eb, rgba(172, 224, 249, 0.5) 49.16%, #fff1eb);*/
  background-color: #f6f6f6;
}

/*
 * Navbar
 */

.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.72);
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
}
}

.navbar-brand {
font-size: 2rem;
}

.navbar > .container {
  max-width: 900px;
  padding: 0px;
}

/*
 * Jumbotron
 */


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);  
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
.newsletter-pad {
  padding-top: 20px;
}

/*
 * Card Container
 */

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}

.card-container {
  padding: 50px;
}


/*
 * Cards
 */

.card {
  float: left;
  width: 33.333%;
  margin-bottom: 2rem;
  border: 0;
  min-width: 290px;
}
.card-title {
  text-align: center;
}
.card.item {
    padding: 30px 0px 0px 0;
    border-radius: 25px;
    transition: all.6s ease;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
      -webkit-backface-visibility: hidden;

}

.card.item:hover {
    -webkit-box-shadow:
    -6px -6px 8px -4px rgba(250,254,118,0.75),
      6px -6px 8px -4px rgba(254,159,50,0.75),
      6px 6px 8px -4px rgba(255,255,0,0.75),
      6px 6px 8px -4px rgba(0,0,255,2.75);
    -moz-box-shadow:
    -6px -6px 8px -4px rgba(250,254,118,0.75),
      6px -6px 8px -4px rgba(254,159,50,0.75),
      6px 6px 8px -4px rgba(255,255,0,0.75),
      6px 6px 8px -4px rgba(0,0,255,2.75);
    box-shadow:
     -6px -6px 8px -4px rgba(250,254,118,0.75),
      6px -6px 8px -4px rgba(254,159,50,0.75),
      6px 6px 8px -4px rgba(255,255,0,0.75),
      6px 6px 8px -4px rgba(0,0,255,2.75);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}

.card.item > a:hover{
  color: rgb(64, 133, 204);
  text-decoration: none;
}

.card.item > a{
  color: rgb(64, 133, 204);
}

.card > img {
  margin-bottom: .75rem;
  border-radius: 250px;
}

.card-sub-title {
  text-align: center;
}

.card-footer {
  background-color: rgb(64, 133, 204);
  border-top: none;
  border-radius: 0px 0px 25px 25px !important;
}

.image-avatar {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 0 0 3px gray;
    border: 3px solid white;

}

avatar-1 {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;

}

.card-text {
  font-size: 75%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1000px;

}

.income {
  float: right;
}

footer p {
  margin-bottom: .25rem;
}
.footer-text {
  color: #fff;
}

